.lvd-multitextfied-container .lvd-multitextfield-label {
	padding-bottom: 8px;
}

.lvd-multitextfield-item {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	overflow: hidden;
	min-width: 210px;
	min-height: 40px;
}

.lvd-multitextfield-input-container {
	min-width: 100px;
	order: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

.lvd-multitextfield-input-container .ms-TextField-errorMessage {
	padding-bottom: 8px;
}

.lvd-multitextfield-ctrl-container {
	width: auto;
	order: 2;
}

.lvd-multitextfield-clear {
	clear: both;
	float: left;
}